<br><br><br><br><br><br>
<div class="container2">
<section class="box left">

    <h1>{{blog.title}}</h1>
    <p>By {{blog.name}}</p>
    <br>
    <hr>
    <p>{{{blog.content}}}</p>
    <br> <br>
</section>
<p class="box"> &nbsp;&nbsp;</p>
<section class="box right">

    <h2>Comments</h2>


    {{#if not_logged_in}}
    <p id="no_comments">No comments yet! Log in and be the first one to comment.<br></p>
    
    {{else}}
    <p id="no_comments">No comments yet! Be the first one to comment.<br></p>
    {{/if}}

    <div id="comments"></div>
    <br>
    {{!-- <i class="fa-solid fa-circle-xmark"></i> --}}

    {{#if not_logged_in}}
    <p class="alert">Log in to comment!</p>
    {{else}}
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}

    <p class="error" id="error"></p>

    <form id="commentForm" method="POST" action="{{blog._id}}">
        <label for="comment_term">Comment</label> <br />
        <textarea id="comment_term" name="comment" rows="4" cols="50" placeholder="Enter comment"> </textarea>
        <br>
        <button type="submit" class="submit-button">Submit</button>
    </form>
    {{/if}}
    <br>
     <br>

</div>
</section>