<br><br><br><br><br><br>

<div class="left">
    <h1> Blogs</h1>

    <section>
    
        {{#if newBlog}}
        <h4 class = "pink">New Blog Added Successfully!</h4>

        {{/if}}


        {{#if blogs.length}}
        <h2>Trending Blogs</h2>

        {{#each blogs}}
        <hr>
        {{!-- <h3>{{title}}</h3> --}}
        <a class="blog-title" href="/blogs/details/{{_id}}">{{title}}</a>
        <br>
        <a class="blog-owner" href="#">By {{name}}</a>
        <br>

        {{/each}}

        {{/if}}

    </section>

    <hr>
    <div class="pages">
        {{#if prev}}
        <a class="purple" href="/blogs/{{prev}}">Prev Page</a>

        {{/if}}

        <p>Page {{page}}</p>

        {{#if next}}
        <a class="purple" href="/blogs/{{next}}">Next Page</a>

        {{/if}}
    </div>

    <br>
</div>

<div class="right">
    <h2>Search for Blog</h2>

    <form id="searchTag" method="POST" action="/blogs/tag">

        <label for="tag">Search for topic/idol/group</label> <br>
        <input name="tag" type="text" id="tag" placeholder="topic/idol/group">

        <button type="submit">Submit</button>


    </form>
    <hr>
    <h2>Add your blog to the community</h2>

    <form id="addBlog" method="POST" action="/blogs">
        {{#if error1}}
        <p class="error"> Please enter title correctly</p>
        <br>
        {{/if}}
        {{#if error2}}
        <p class="error"> Please enter content correctly</p>
        <br>
        {{/if}}
        <label for="title">Title</label> <br>
        <input name="title" type="text" id="title" placeholder="title">
        <br>
        <label for="content"> Content</label><br>
        <textarea style="width: 100%;" id="myNiceEditor" name="content" rows="15" cols="50" placeholder="Enter blog"> </textarea>
        <button type="submit">Submit</button>
        <hr>

    </form>

</div>

<br>