<br><br><br><br><br><br>

<section class="left">

    <h1 id="blogTitle">{{blog.title}}
    <span id="heart-fill-2" hidden><i class="fa-solid fa-heart"></i></span>
    <span id="heart-no-fill-2" hidden><i class="fa-regular fa-heart"></i></span>
    {{#if like}}
    <span id="heart-fill"><i class="fa-solid fa-heart"></i></span>
    {{else}}
        <span id="heart-no-fill"><i class="fa-regular fa-heart"></i></span>
    {{/if}}
    </h1>
    <p>By {{blog.name}}</p>
    <br>
    <hr>
    <p>{{{blog.content}}}</p>
    <br> <br>
</section>

<section class="right">

    <h2>Comments</h2>


    {{#if not_logged_in}}
    <p id="no_comments">No comments yet! Log in and be the first one to comment.<br></p>
    
    {{else}}
    <p id="no_comments">No comments yet! Be the first one to comment.<br></p>
    {{/if}}

    <div id="comments"></div>
    <br>
    {{!-- <i class="fa-solid fa-circle-xmark"></i> --}}

    {{#if not_logged_in}}
    <p>Log in to comment!</p>
    {{else}}
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}

    <p class="error" id="error"></p>

    <form id="commentForm" method="POST" action="{{blog._id}}">
        <label for="comment_term">Comment</label> <br />
        <textarea id="comment_term" name="comment" rows="4" cols="50" placeholder="Enter comment"> </textarea>
        <button type="submit" class="btn">Submit</button>
    </form>
    {{/if}}
    <br>
     <br>


</section>