<article>
    <h2 id="groupName">{{name}}</h2>
    <img src={{groupImage}} alt="{{name}}" width="500px" height="300px"/>
    <dl>
        <dt>Number of Members</dt>
        <dd>{{numOfMembers}}</dd>
        <dt>Debut Date</dt>
        <dd>{{debutDate}}</dd>
        <dt>Awards</dt>
        <dd>{{awards}}</dd>
        <dt>Greeting</dt>
        <dd>{{greeting}}</dd>
        <dt>Fandom Name</dt>
        <dd>{{fandomName}}</dd>
        <dt>Fandom Color</dt>
        <dd>{{fandomColor}}</dd>
        <dt>Social Media Accounts</dt>
        <dd>
            {{#each socialMedia}}
            <dl>
                <dt>{{this.type}}</dt>
                <dd>{{this.handle}}</dd>
            </dl>
            {{/each}}
        </dd>
        <dt>Group Members</dt>
        <dd>
            {{#each memberLinks}}
            <ul>
                <li><a href="/idols/{{../name}}-{{this}}">{{this}}</a></li>
            </ul>
            {{/each}}
        </dd>
    </dl>
    <span id="heart-fill-2" hidden><i class="fa-solid fa-heart"></i></span>
    <span id="heart-no-fill-2" hidden><i class="fa-regular fa-heart"></i></span>
    {{#if like}}
    <span id="heart-fill"><i class="fa-solid fa-heart"></i></span>
    {{else}}
        <span id="heart-no-fill"><i class="fa-regular fa-heart"></i></span>
    {{/if}}
    <!--
<img src="/img/heart-no-fill.png" alt="heart-no-fill" width="50px" height="50px" id="heart-no-fill"/>
<img src="/img/heart-fill.png" alt="heart-fill" width="50px" height="50px" id="heart-fill" hidden/>
!-->
<p id="note">Click on heart to like the group!</p>
<br>
{{#if error}}
<p class="error" id="error"> {{error}}</p>
{{/if}}
<br>
<a href="/groups">Go Back To All Groups!</a>
</article>